<article>
  <h4>Posts</h4>
  <section class="user">
  <img class="image" src="<%=@user.photo %>" alt="User Avatar" />
    <div class="user-info">
      <h2 class="user-name"><%= @user.name %></h2>
      <p class="post-count">Number of posts: <%= @user.posts_counter%> </p>
    </div>
  </section>

  <section class="posts-container">
    <%= @user.get_recent_posts.each_with_index do |post,index| %>
      <section class="post-comment-container">
      <a class="flex-column posts td-none" href="posts/<%=post.id%>">
        <h3 class="fs-3" >Post #<%= index+1 %></h3>
        <p> <%= post.title %> </p>
        <div class="flex-row-end td-none">
          <p>Comments: <%= post.comments_counter %> </p>
          <p>Likes: <%= post.likes_counter %> </p>
        </div>
      </a>
   

      <div class="comments-container">
        Comments: 
          <div class="flex-column">
          <% post.get_recent_comments.each do |comment| %>
            <span><%= comment.author.name %> : <%= comment.text %></span> 
          <% end %> 
          </div>
      </div>
      </section>
    <% end %>
  </section>
     <div class="text-center mb-3">
    <% if @author_id == current_user.id %>
      <%= link_to "Create new post", new_user_post_path, class: "btn btn-outline-secondary" %>
    <% end %>
</div>
</article>